.fc .fc-header-toolbar {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.totals {
  margin-left: 1rem;
}